#body {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Noto Sans', sans-serif;
    
}

.navbar-toggle:focus {
  outline: none;
}

.container {
    background-color: #fff;
    box-shadow: 10px 10px 50px  #888888;
    height: 595px;
    width: 842px;
    margin-left: auto;
    margin-right: auto;
}

p{
    overflow: hidden
}

.pageSeperator {
    margin: 40px;
}

#main {
   position: relative;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://raw.githubusercontent.com/SkuliSkula/SDAFinalProject/master/img/sfc1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}

/******************************************** Pages ***********************************************/

#homePage {
    text-align: center;
    vertical-align: middle;
    background: rgba(0,0,0,0);
    /*outline: none;
    box-shadow: none;*/
    font-size: 18px;
}

#page1 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page2 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page3 {
    font-size: 18px;
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page4 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page5 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page6 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page7 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page8 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

#page9 {
    background: rgba(0,0,0,0);
    outline: none;
    box-shadow: none;
}

.borough {
    fill: black;
}

/************************************************ Navigation bar*****************************************/

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}

#menu li.focus {
    outline: none;
}
#menu li a{
	text-decoration:none;
	color: #000;
}

#menu li a:focus{
	text-decoration:none;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(0,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
/******************************* Screen size handling ****************************************************/

@media screen and (max-width: 1024px) {
    #fullpage, #menu {
        display: none !important;
    }
    #error {
        display: block;
    }
}

/******************************************* San Fran Map Styels ********************************************/
#sanfran {
    fill: #E5F5F9;
    stroke: #ccc;
    stroke-width: 0.5;
    cursor: pointer;
}

#sanfran.active {
  fill: #ccc;
}

.firestations {
    cursor: pointer;
}

.battalions {
    position: absolute; 
    list-style:square;
    padding: 0;
    margin: 0;
}

.battalions li {
  padding-left: 1em; 
  text-indent: -.7em;    
}

.battalions li::before {
  color: red; /* or whatever color you prefer */
}

/******************************************* Styles for d3 tip**************************************************/
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/******************** Map zoom auto **************************/

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

/************************* Bubble chart ************************/
.bubbleChart {
    margin: 0 auto;
}

.bubbleChart svg{
    background: rgba(0,0,0,0);
}

.battalion {
    fill: red;
}

/************************ Bar chart ****************************+*/
#barchart{
	
}

.bar {
    fill: rgba(31,119,180,0.8);
}

.axis {
    font-size: 11px;
    font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
/************************* Styles for K-means****/

.kCircle {
    opacity: 0.75;
    stroke: none;
}

.geodistrict {
    stroke-width: 0.7;
    stroke: white;
    fill: steelblue;
}

.geodistricttext {
    text-anchor: middle;
    font-size: 8pt;
    fill: black;
    opacity: 0.5;
}

.geokmeans {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

/*************************** Styles for box plot *********/

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: rgba(31,119,180,0.8);
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #000;
}

.axis {
  font: 12px sans-serif;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis.bp path { 
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}